body{
    font: normal 15pt Arial;
    background-color: rgb(109, 109, 214);
   

}
header{
    text-align: center;
    color: whitesmoke;
}
section{
    padding: 15px;
    background-color: whitesmoke;
    width: 500px;
    margin: auto;
    border-radius: 20px;
    
    
}
footer{
    font: normal 10pt arial;
    font-style: italic;
    text-align: center;
}


